body {
    background-color: #523E67;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

h1 {
    font-size: 5rem;
    text-align: center;
    color: aliceblue;
    text-shadow: 5px 5px #2e233b;
}

p {
    font-size: 1rem;
    text-align: center;
    color: aliceblue;
    text-shadow: 2.5px 2.5px #2e233b;
}

label {
    font-size: 1.6rem;
    display: block;
    margin-bottom: 4px;
    font-weight: bold;
    color: aliceblue;
    text-shadow: 2.5px 2.5px #2e233b;
}

input {
    font-size: 1.6rem;
    width: 100%;
    padding: 8px;
    box-shadow: 2.5px 2.5px 2.5px #2e233b;
}

button {
    font-size: 1.5rem;
    width: 102%;
    padding: 10px;
    box-shadow: 5px 5px 5px #2e233b;
}

.links a {
    font-size: 1.4rem;
    color: aliceblue;
    margin: 15px;
    text-decoration: underline;
}